.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    background: $bg-color;
    border: 0;
    border-bottom: .3rem solid darken($bg-color, 10%);
    flex-grow: 1;    
    // margin-right: $s-size;
    margin: 0 0 $s-size 0;
    color: $off-white;
    padding: $s-size;
}

.add-option__input::placeholder {
    opacity: .2;
    font-style: italic;
}

@media (min-width: 45rem) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}