// colors

$off-black: #20222b;
$off-white: #a5afd7;
$blue: #3c4251;
$light-blue: #464b5e;
$bg-color: #333745;
$purple: #8357c5;

// sizes

$s-size: 1.2rem;
$m-size: 1.6rem;
$m2-size: 3.2rem;
$m3-size: 4.8rem;